In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-11-04 18:05:37,-23.12,-134.97,73.44,77,12,16.08
1,1,Teya,RU,2020-11-04 18:06:18,60.38,92.63,23.38,95,100,10.67
2,2,Ruidoso,US,2020-11-04 18:06:18,33.33,-105.67,64.99,27,20,12.75
3,3,Sitka,US,2020-11-04 18:06:18,57.05,-135.33,35.60,93,90,5.82
4,4,Punta Arenas,CL,2020-11-04 18:05:56,-53.15,-70.92,44.60,87,90,4.70

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Mindelo,CV,2020-11-04 18:06:19,16.89,-24.98,80.60,65,75,17.22
8,8,Moussoro,TD,2020-11-04 18:06:19,13.64,16.49,88.05,16,32,13.33
10,10,Kapaa,US,2020-11-04 18:06:19,22.08,-159.32,78.80,88,40,9.17
11,11,Kalmunai,LK,2020-11-04 18:06:19,7.42,81.82,79.63,77,93,1.79
13,13,Georgetown,MY,2020-11-04 18:04:29,5.41,100.34,80.60,88,40,4.70
16,16,Alto Araguaia,BR,2020-11-04 18:06:20,-17.31,-53.22,88.45,26,5,6.04
19,19,Buenaventura,CO,2020-11-04 18:06:20,3.88,-77.03,81.28,83,58,5.57
28,28,Acapulco,MX,2020-11-04 18:02:00,16.86,-99.89,89.60,35,5,4.18
32,32,Nyimba,ZM,2020-11-04 18:06:22,-14.56,30.81,81.88,44,74,5.30
34,34,Cabo San Lucas,MX,2020-11-04 18:05:29,22.89,-109.91,88.00,66,20,4.70

In [15]:
preferred_cities_df.count()

City_ID       170
City          170
Country       168
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
7          Mindelo      CV     80.60  16.89  -24.98
8         Moussoro      TD     88.05  13.64   16.49
10           Kapaa      US     78.80  22.08 -159.32
11        Kalmunai      LK     79.63   7.42   81.82
13      Georgetown      MY     80.60   5.41  100.34
16   Alto Araguaia      BR     88.45 -17.31  -53.22
19    Buenaventura      CO     81.28   3.88  -77.03
28        Acapulco      MX     89.60  16.86  -99.89
32          Nyimba      ZM     81.88 -14.56   30.81
34  Cabo San Lucas      MX     88.00  22.89 -109.91

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}